In [2]:
import pandas as pd
import pickle
from sqlalchemy import create_engine

# 1. Use standard pickle to open the file first
print("Opening file with standard pickle...")
with open('SBS_DT.pkl', 'rb') as f:
    data = pickle.load(f)

# 2. Convert to DataFrame if it's not already
df = pd.DataFrame(data)
print(f"Loaded {len(df)} rows.")

# 3. Upload to Postgres
engine = create_engine('postgresql://postgres:overall@localhost:5432/main_db')
df.to_sql('sales_main_web', engine, if_exists='replace', index=False, chunksize=5000)
print("Upload complete!")

Opening file with standard pickle...
Loaded 1430888 rows.
Upload complete!

##### update scipt

In [1]:
import pandas as pd
import pickle
from sqlalchemy import create_engine, text

# DB engine
engine = create_engine('postgresql://postgres:overall@localhost:5432/main_db')

# --- Config (adjust if your date column name is different) ---
TABLE = "sales_main_web"
DATE_COL = "CD"          # your date column (you used "CD" in earlier SQL)
DEDUP_COL = "IdReal2"

JAN_START = "2026-01-01"
FEB_START = "2026-03-01"

# 1) Load UPDATE file
print("Opening SBS_DT_UPDATE.pkl...")
with open("SBS_DT_UPDATE.pkl", "rb") as f:


    data_update = pickle.load(f)

df_update = pd.DataFrame(data_update)
print(f"Loaded {len(df_update)} rows from UPDATE file.")

# Ensure date column is datetime (important for filtering)
df_update[DATE_COL] = pd.to_datetime(df_update[DATE_COL], errors="coerce")

# Keep only January 2026 rows from the UPDATE file
df_update_jan = df_update[
    (df_update[DATE_COL] >= JAN_START) & (df_update[DATE_COL] < FEB_START)
].copy()
print(f"UPDATE rows in Jan 2026: {len(df_update_jan)}")

# 2) Read only January 2026 from DB (not whole table)
print("Reading existing Jan 2026 data from database...")
query_existing_jan = text(f"""
    SELECT *
    FROM {TABLE}
    WHERE "{DATE_COL}" >= :jan_start
      AND "{DATE_COL}" <  :feb_start
""")

df_existing_jan = pd.read_sql(query_existing_jan, engine, params={
    "jan_start": JAN_START,
    "feb_start": FEB_START
})
print(f"Existing Jan 2026 rows in DB: {len(df_existing_jan)}")

# 3) Combine ONLY Jan 2026 data, and deduplicate by IdReal2
# Put existing first, update second -> keep='last' means UPDATE wins on conflicts
print("Combining + deduplicating Jan 2026 by IdReal2...")
df_combined_jan = pd.concat([df_existing_jan, df_update_jan], ignore_index=True)

before = len(df_combined_jan)
df_dedup_jan = df_combined_jan.drop_duplicates(subset=[DEDUP_COL], keep="last")
after = len(df_dedup_jan)

print(f"Jan combined: {before} -> {after} (removed {before - after} duplicates)")

# 4) Replace ONLY January 2026 in Postgres (safe pattern: DELETE that month, then APPEND back)
print("Deleting existing Jan 2026 rows from DB...")
delete_jan = text(f"""
    DELETE FROM {TABLE}
    WHERE "{DATE_COL}" >= :jan_start
      AND "{DATE_COL}" <  :feb_start
""")

with engine.begin() as conn:
    conn.execute(delete_jan, {"jan_start": JAN_START, "feb_start": FEB_START})

print("Appending deduplicated Jan 2026 rows...")
df_dedup_jan.to_sql(TABLE, engine, if_exists="append", index=False, chunksize=5000)

print("Done: Updated January 2026 only, deduped by IdReal2.")

Opening SBS_DT_UPDATE.pkl...
Loaded 31760 rows from UPDATE file.
UPDATE rows in Jan 2026: 31760
Reading existing Jan 2026 data from database...
Existing Jan 2026 rows in DB: 31140
Combining + deduplicating Jan 2026 by IdReal2...
Jan combined: 62900 -> 31765 (removed 31135 duplicates)
Deleting existing Jan 2026 rows from DB...
Appending deduplicated Jan 2026 rows...
Done: Updated January 2026 only, deduped by IdReal2.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:overall@localhost:5432/main_db')

query = """
WITH base AS (
  SELECT
    "IdTanam",
    "Tanam",
    "Zedd",
    "IdProdG",
    "ProdG",
    "Tanxa",
    "CD",
    "UN"
  FROM sales_main_web
  WHERE "CD" >= DATE '2026-01-01'
    AND "CD" <  DATE '2026-02-01'
    AND "UN" = 'რუსთავი' and "IdTanam" = 241
    AND "IdProdG" NOT IN (4,5,6,7,14,17,18,19,20,21)
),
basket AS (
  SELECT
    "IdTanam",
    "Tanam",
    "Zedd",
    "ProdG",
    COUNT(*) AS lines_excl5,
    (COUNT(*) >= 3)::int AS flag_ge3
  FROM base
  WHERE "IdProdG" <> 5
  GROUP BY "IdTanam", "Tanam", "Zedd", "ProdG"
)
SELECT
  "IdTanam",
  "Tanam",
  "ProdG"
  "Zedd",
  lines_excl5,
  flag_ge3,
  ROUND( (AVG(flag_ge3) OVER (PARTITION BY "IdTanam"))::numeric, 4 ) AS cross_selling_for_tanam
FROM basket
ORDER BY "IdTanam", lines_excl5 DESC;
"""

df = pd.read_sql(query, engine)

output_file = "cross_selling_rustavi_jan_2026_with_tanam.xlsx"
df.to_excel(output_file, index=False)

print(f"Exported {len(df)} rows to {output_file}")

Exported 116 rows to cross_selling_rustavi_jan_2026_with_tanam.xlsx